*{
    margin:0;
    padding:0;
}

body{
   
        background: #F5F5F5;
}

h1{
    text-align: center;
    font-family: 'comfortaa', sans-serif;
    padding:2px;
    color:white;
}

p{

    color: black;
    text-align: center;
    font-family: 'comfortaa', sans-serif;
    font-size: 1.4em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}

button{
    border-radius:10px;
    padding:10px;
    color:aquamarine;
   
}

.header {
   
   background-color: grey;
    display:block;
    text-align: right;
    width: 100%;
    margin:0;
    padding:0;
    font-family: "comfortaa",sans-serif;
    font-size: 1.2em;
}

